@import 'blockquote.css';

/* remove this when we fix https://github.com/ember-learn/ember-styleguide/issues/348 */
hr {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.post-content > img.times-logo {
  width: 100%;
  max-width: 478px;
}
