.post-content blockquote {
  position: relative;
  margin: var(--spacing-3) 0;
  padding: var(--spacing-2) var(--spacing-5);

  background: var(--color-gray-200);
  border-radius: var(--radius-lg);

  color: var(--color-gray-700);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-3);
}

.post-content blockquote:before {
  content: url('/quotes.svg');
  position: absolute;
  left: var(--spacing-2);
  top: var(--spacing-1);
}
