.post-content-header h1 {
  font-size: 1.8754rem;
  font-size: var(--font-size-hero-1);
}

.post-meta .post-date {
  color: #6a707a;
  color: var(--color-gray-600);
}

.post-content hr {
  border: 1px solid #dce0e6;
  border-color: var(--color-gray-300);
}

.post-content-body h2, .post-content-body hr + p {
  margin-top: 1.5rem;
  margin-top: var(--spacing-3);
}

.post-content-body h2 {
  font-size: 1.5625rem;
  font-size: var(--font-size-xl);
  color: #e04E39;
  color: var(--color-brand);
}

.post-content-body h2 + p {
  margin-top: 1.125rem;
  margin-top: var(--spacing-2);
}

.post-content-body p {
  color: #42474f;
  color: var(--color-gray-700);
}

.post-content-body img.small {
  width: 33%;
  height: auto;
}

.post-content-body img.float-right, .post-content-body div.float-right {
  float: right;
}
