/* stylelint-disable prettier/prettier */
.skeleton-loader {
  background: linear-gradient(135deg, var(--color-gray-200), var(--color-gray-100));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 0;
}
