{{! template-lint-disable no-unknown-arguments-for-builtin-components }}
{{#if this.isNewsletter}}
    <LinkTo @route="tag" @model="Newsletter" class="blog-header" @aria-label="Read more issues of The Ember Times">
        <div class="large ember-times-logo">
        </div>
    </LinkTo>
{{/if}}