{{#if isNewsletter}}
    {{#link-to 'tag' 'Newsletter' class="blog-header" aria-label="Read more issues of The Ember Times"}}
        <div class="large ember-times-logo">
        </div>
    {{/link-to}}
{{/if}}
