<EsHeader />

<main>
  <div class="site-wrapper container">


      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      <div class='main'>
          {{outlet}}
      </div>

      <TagSidebar />

  </div>
</main>

<EsFooter />