<ProgressBar/>

<EsHeader />

<div class="bg-main">
  <div class="sidebar-container">
    <main>
      {{outlet}}
    </main>

    <TagSidebar @tags={{this.model.tags}}/>
  </div>
</div>

<EsFooter />