<section class="error-message">
    <h1 class="error-code">{{model.errors.0.status}}</h1>
    <p class="error-description">{{model.errors.0.title}}</p>
    {{#link-to 'index' class="error-link"}}Go to the front page →{{/link-to}}
</section>
