
{{#if (route-is "index")}}
    {{#if blog.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{blog.description}}</h2>
    </header>
    {{/if}}
{{/if}}

<div class="post-feed">
{{#each (sort-by 'date:desc' model) as |post index|}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    <PostCard @post={{post}} @index={{index}}/>

{{/each}}
</div>
