<header class="page-head">
    <h1 class="page-head-title mb-1">{{@model.name}}</h1>
    {{#if @model.description}}
      <p class="page-head-description mb-5">
        {{@model.description}}
      </p>
    {{/if}}
</header>

<div class="post-feed">
  <LoadPosts @model={{@model}} as |posts|>
    {{#each posts as |post|}}
      {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
      <PostCard @post={{post}} />
    {{/each}}
  </LoadPosts>
</div>